<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Filton Hotel</title>

    <form method="post" action="/">
        Name:<br>
        <input name="name" type="text" value="{{ comment.name }}"/><br>
        email:<br>
        <input name="email" type="email" value="{{ comment.email }}"/><br>
        Your comment:<br>
        <input name="text" type="text" value="{{ comment.text }}"/><br>
        <input type="submit" value="Publish" />
    </form>
</head>
<body>

</body>
</html>