<!DOCTYPE html>
<br>
<head lang="en">
    <meta charset="UTF-8">
    <title>Filton Hotel GuestBook</title>

    <link rel="stylesheet" href="/assets/css/style.css">
</head>

    <body>

        {% if logged_in %}
            <h1>Hello {{ user.nickname() }}!</h1>
            <h1>GuestBook</h1>

            <h3>Did you enjoy your stay? Then leave us a comment!</h3>

            <form method="post" action="/">
                Name:<br>
                <input name="name" type="text" />
                <br>
                <textarea cols="50" rows="10" name="text" placeholder="Enter text here..."></textarea>
                <input type="submit" value="Publish" />
            </form>

            <p><a href="{{ logout_url }}">Logout</a></p>
        {% else %}

            <h1>Hello anonymous guest!</h1>

            <p>Please login here: <a href="{{ login_url }}">Login</a></p>
        {% endif %}
</body>
</html>