<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Filton Hotel GuestBook</title>

    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <h1>GuestBook</h1>

    <h3>Did you enjoy your stay? Then leave us a comment!</h3>

    <form method="post" action="/">
        <input name="name" type="text">
        <input name="email" type="email">
        <input name="text" type="text">
        <button type="submit">Publish</button>
    </form>
</body>
</html>